*{
  font-family: 'Poppins', sans-serif;

}
   .favourite-card {
    display: flex;
    width: 1255px;
    height: 360px;
    background-color: #BAE9FB;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 4px #969696;
  }
  
  /* Левая панель */
  .left-panel {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .left-panel__city-date {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    font-weight: 600;
  }

  .city-date__date{
    font-size: 20px;
    margin-left: 15px;
  }
  
  .left-panel__scroll-cards {
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
    height: 300px;
    gap: 20px;
  }
  
  .left-panel__scroll-cards::-webkit-scrollbar,
  .wind-section__scroll-cards::-webkit-scrollbar,
  .water-section__scroll-cards::-webkit-scrollbar{
    height: 6px;
  }
  
  .left-panel__scroll-cards::-webkit-scrollbar-thumb,
  .wind-section__scroll-cards::-webkit-scrollbar-thumb,
  .water-section__scroll-cards::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 4px;
  }
  
  .left-panel__scroll-cards::-webkit-scrollbar-thumb:hover,
  .wind-section__scroll-cards::-webkit-scrollbar-thumb:hover,
  .water-section__scroll-cards::-webkit-scrollbar-thumb:hover{
    background: #b6b1b1;
  }
  
  /* Карточки температуры */
  .temperature-card {
    width: 55px;
    border-radius: 30px;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
    transition: background-color 0.3s, height 0.3s;
    position: relative;
    box-sizing: border-box;
  }
  
  .temperature-card__value {
    font-size: 20px;
    margin-top: -35px;
    margin-bottom: auto;
  }
  
  .temperature-card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: auto;
  }
  
  .temperature-card__icon {
    display: inline-block;
    margin-bottom: 5px;
    height: 30px;
    width: 30px;
  }
  
  .temperature-card__time {
    display: inline-block;
  }
  
  /* Правая панель */
  .right-panel {
    width: 50%;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    overflow-y: hidden;
    color: black;
    gap: 5px;
  }
  
  /* Секция ветра */
  .wind-section {
    flex: 1;
  }
  
  .wind-section__title {
    font-size: 18px;
    margin-left: 20px;
    color: black;
  }
  
  .wind-section__scroll-cards {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 130px;
    align-items: flex-end;
    gap: 18px;

  }
  
  .wind-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* margin-right: 20px; */
    width: 70px;
    text-align: center;
    position: relative;
  }
  
  .wind-card__info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
  }
  
  /* .wind-card__speed {
    margin-bottom: 5px;
  }*/
  
  .wind-card__icon {
    margin-bottom: 5px;
    height: 20px;
    width: 20px;
  } 
  
  .wind-card__rectangle {
    width: 30px;
    /* background-color: red; */
    background: linear-gradient(to right, #00A2D3, #3CCCF8); /* Горизонтальный градиент */
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  .wind-card__time {
    margin-top: auto;
  }
  
  /* Секция воды */
  .water-section {
    flex: 1;
  }
  
  .water-section__title {
    font-size: 18px;
    margin-left: 20px;
    color: black;
  }
  
  .water-section__scroll-cards {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 130px;
    align-items: flex-end;
    gap: 18px;
  }
  
  .humidity-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    /* margin-right: 10px; */
    height: 90px;
    text-align: center;
    color: black;
  }
  
  .humidity-card__value {
    margin-bottom: auto;
  }
  
  .humidity-card__icon-container {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .humidity-card__filled-icon,
  .humidity-card__empty-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .humidity-card__empty-icon {
    z-index: 2;
  }
  
  .humidity-card__cover-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    clip-path: inset(0 0 0 0);
  }
  
  .humidity-card__time {
    margin-top: auto;
  }
  





  .remove-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  
  .remove-icon {
    width: 24px;
    height: 24px;
  }