<div class="top-content">
    <div class="search-container">
        <img src="/assets/png/search_icon.png" alt="Search" class="search-icon" />
        <input class="search-bar"
        type="text"
        [(ngModel)]="cityName"
        placeholder="Enter city name"
        (keyup.enter)="search()"

        />
    </div>

    <button class="current-location" > 
      <img src="/assets/png/current_location_icon.png" alt="Location Icon" class="location-icon" /> 
      Current Location
    </button>
  </div>

<!-- (keyup.enter)="getWeatherByCity(cityName)" -->

  
<!-- (click)="getWeatherCurrentLocation()" -->