<section class="additional-info">
    <div class="city-header">
      <button (click)="toggleFavourite()">
        <img [src]="isFavourite ? '/assets/png/remove_icon.png' : '/assets/png/favourite_icon.png'" alt="Toggle Favourite">
      </button>
    <h2>{{ cityName }}</h2>
    </div>
    <div class="time-info">
      <span>{{ additional_info.currentTime }}</span>
    </div>
    <div class="date-info">
      <span>{{ additional_info.currentDay }},</span>
      <span>{{ additional_info.currentDate }}</span>
    </div>
  </section>