<!-- 
      <div class="top-content">
        <div class="search-container">
            <img src="/assets/png/search_icon.png" alt="Search" class="search-icon" />
            <input class="search-bar"
            type="text"
            [(ngModel)]="cityName"
            placeholder="Enter city name"
            (keyup.enter)="getWeatherByCity(cityName)"
          />
          </div>

          <button class="current-location" (click)="getWeatherCurrentLocation()"> 
            <img src="/assets/png/current_location_icon.png" alt="Location Icon" class="location-icon" /> 
            Current Location
          </button>
      </div>


        <div class="sidebar">
          <ul>
              <li class="active">
                  <img src="/assets/png/home_blue.png" alt="Home Icon">
                  <a routerLink="/home">Home</a>
              </li>
              <li>
                  <img src="/assets/png/map_white.png" alt="Map Icon">
                  <a href="#">Map</a>
              </li>
              <li>
                  <img src="/assets/png/weather_white.png" alt="Forecast Icon">
                  <a href="#">Daily Forecast</a>
              </li>
              <li>
                  <img src="/assets/png/cities_white.png" alt="Locations Icon">
                  <a routerLink="/forecast">Locations</a>
              </li>
          </ul>
      </div>


    <div class="main-content">
      <div class="info-row">

          <section class="additional-info">
              <div class="city-header">
                <button onclick="handleButtonClick()">
                  <img src="/assets/png/favourite_icon.png" alt="Refresh" > 
                </button>
              <h2>{{ weatherData.city }}</h2>
              </div>
              <div class="time-info">
                <span>{{ weatherData.time }}</span>
              </div>
              <div class="date-info">
                <span>{{ currentDay }}</span> <br>
                <span>{{ currentDate }}</span>
              </div>
            </section>

          <section class="current-weather">
              <div class="temperature-column">
                <div class="temperature-info">
                  <span class="temperature">{{ weatherData.temperature }}°C</span><br>
                  <div class="feel-temperature"> 
                    <span class="feel-temperature-text">Feels like:</span>
                    <span class="feel-temperature-number"> {{ weatherData.feel_temperature }}°C</span>
                  </div>
                  
                </div>
                <div class="sun-times">
                  <div class="sun-time">
                    <img src="/assets/sunrise-icon.svg" alt="Sunrise Icon" class="sun-icon">
                    <div>
                      <p class="sun-text">Sunrise</p>
                      <p class="sun-data">{{ weatherData.sunrise }}</p>
                    </div>
                  </div>
                  <div class="sun-time">
                    <img src="/assets/sunset-icon.svg" alt="Sunset Icon" class="sun-icon">
                    <div>
                      <p class="sun-text">Sunset</p>
                      <p class="sun-data">{{ weatherData.sunset }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="weather-icon-column">
                <img [src]=weatherData.icon alt="Weather Icon">
                <p class="weather-description">{{weatherData.description}}</p>
              </div>
              <div class="weather-details-column">
                <div class="detail-item">
                  <img src="/assets/uv-icon.svg" alt="UV Icon">
                  <span class="detail-data">{{ weatherData.uvIndex }}</span>
                  <span class="detail-text">UV Index</span>
                </div>
                <div class="detail-item">
                  <img src="/assets/pressure-icon.svg" alt="Pressure Icon">
                  <span class="detail-data">{{ weatherData.pressure }} mmHg</span>
                  <span class="detail-text">Pressure</span>
                </div>
                <div class="detail-item">
                  <img src="/assets/wind-icon.svg" alt="Wind Icon">
                  <span class="detail-data">{{ weatherData.windSpeed }} km/h</span>
                  <span class="detail-text">Wind Speed</span>
                </div>
                <div class="detail-item">
                  <img src="/assets/humidity-icon.svg" alt="Humidity Icon">
                  <span class="detail-data">{{ weatherData.humidity }}%</span>
                  <span class="detail-text">Humidity</span>
                </div>
              </div>
            </section>
            
      </div>

      <div class="forecast-row">
          
          <section class="five-day-forecast">
            <h3>5 Days Forecast:</h3>
            <div class="daily">
              <div *ngFor="let day of dayForecast" class="day">
                <img [src]="day.icon" alt="Weather Icon">
                <span>{{ day.temperature }}°C</span>
                <span>{{ day.date }}</span>
              </div>
            </div>
          </section>

          <section class="hourly-forecast">
            <h3>Hourly Forecast:</h3>
            <div class="hourly-scroll-container">
              <div class="hourly">
                <div *ngFor="let hour of hourlyForecast" class="hour" [ngClass]="hour.backgroundColor">
                  <span>{{ hour.time }}</span>
                  <img [src]="hour.weatherIcon" alt="Weather Icon">
                  <span>{{ hour.temperature }}</span>
                  <img [src]="hour.windIcon" alt="Wind Direction Icon">
                  <span>{{ hour.windSpeed }}</span>
                </div>
              </div>
            </div>
          </section>
          
      </div>
    </div> -->









<!-- 

    <div class="container">
      <div class="sidebar-top-bg"></div>

      <div class="sidebar">
          <ul>
            <li class="active">
                <img src="/assets/png/home_blue.png" alt="Home Icon">
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <img src="/assets/png/map_white.png" alt="Map Icon">
                <a href="#">Map</a>
            </li>
            <li>
                <img src="/assets/png/weather_white.png" alt="Forecast Icon">
                <a href="#">Daily Forecast</a>
            </li>
            <li>
                <img src="/assets/png/cities_white.png" alt="Locations Icon">
                <a routerLink="/forecast">Locations</a>
            </li>
        </ul>
      </div>
    
      <div class="top-content">
        <div class="search-container">
        <img src="/assets/png/search_icon.png" alt="Search" class="search-icon" />
        <input class="search-bar"
        type="text"
        [(ngModel)]="cityName"
        placeholder="Enter city name"
        (keyup.enter)="getWeatherByCity(cityName)"
        />
        </div>

        <button class="current-location" (click)="getWeatherCurrentLocation()"> 
          <img src="/assets/png/current_location_icon.png" alt="Location Icon" class="location-icon" /> 
          Current Location
        </button>
      </div>
    
      <div class="main-content">
        <div class="info-row">

          <section class="additional-info">
              <div class="city-header">
                <button onclick="handleButtonClick()">
                  <img src="/assets/png/favourite_icon.png" alt="Refresh" > 
                </button>
              <h2>{{ weatherData.city }}</h2>
              </div>
              <div class="time-info">
                <span>{{ weatherData.time }}</span>
              </div>
              <div class="date-info">
                <span>{{ currentDay }},</span>
                <span>{{ currentDate }}</span>
              </div>
            </section>

          <section class="current-weather">
              <div class="temperature-column">
                <div class="temperature-info">
                  <span class="temperature">{{ weatherData.temperature }}°C</span><br>
                  <div class="feel-temperature"> 
                    <span class="feel-temperature-text">Feels like:</span>
                    <span class="feel-temperature-number"> {{ weatherData.feel_temperature }}°C</span>
                  </div>
                  
                </div>
                <div class="sun-times">
                  <div class="sun-time">
                    <img src="/assets/sunrise-icon.svg" alt="Sunrise Icon" class="sun-icon">
                    <div>
                      <p class="sun-text">Sunrise</p>
                      <p class="sun-data">{{ weatherData.sunrise }}</p>
                    </div>
                  </div>
                  <div class="sun-time">
                    <img src="/assets/sunset-icon.svg" alt="Sunset Icon" class="sun-icon">
                    <div>
                      <p class="sun-text">Sunset</p>
                      <p class="sun-data">{{ weatherData.sunset }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="weather-icon-column">
                <img [src]=weatherData.icon alt="Weather Icon">
                <p class="weather-description">{{weatherData.description}}</p>
              </div>
              <div class="weather-details-column">
                <div class="detail-item">
                  <img src="/assets/uv-icon.svg" alt="UV Icon">
                  <span class="detail-data">{{ weatherData.uvIndex }}</span>
                  <span class="detail-text">UV Index</span>
                </div>
                <div class="detail-item">
                  <img src="/assets/pressure-icon.svg" alt="Pressure Icon">
                  <span class="detail-data">{{ weatherData.pressure }} mmHg</span>
                  <span class="detail-text">Pressure</span>
                </div>
                <div class="detail-item">
                  <img src="/assets/wind-icon.svg" alt="Wind Icon">
                  <span class="detail-data">{{ weatherData.windSpeed }} km/h</span>
                  <span class="detail-text">Wind Speed</span>
                </div>
                <div class="detail-item">
                  <img src="/assets/humidity-icon.svg" alt="Humidity Icon">
                  <span class="detail-data">{{ weatherData.humidity }}%</span>
                  <span class="detail-text">Humidity</span>
                </div>
              </div>
            </section>
            
      </div>

      <div class="forecast-row">
          
        <section class="hourly-forecast">
          <h3>Hourly Forecast:</h3>
          <div class="hourly-scroll-container">
            <div class="hourly">
              <div *ngFor="let hour of hourlyForecast" class="hour" [ngClass]="hour.backgroundColor">
                <span>{{ hour.time }}</span>
                <img [src]="hour.weatherIcon" alt="Weather Icon">
                <span>{{ hour.temperature }}</span>
                <img [src]="hour.windIcon" alt="Wind Direction Icon">
                <span>{{ hour.windSpeed }}</span>
              </div>
            </div>
          </div>
        </section>


          <section class="five-day-forecast">
            <h3>5 Days Forecast:</h3>
            <div class="daily">
              <div *ngFor="let day of dayForecast" class="day">
                <img [src]="day.icon" alt="Weather Icon">
                <span>{{ day.temperature }}°C</span>
                <span>{{ day.date }}</span>
              </div>
            </div>
          </section>

          
          
      </div>
      </div>
    </div> -->






    <!-- <div class="container">
      <app-navigation></app-navigation>
      <app-searchline (citySelected)="getWeatherByCity($event)"></app-searchline>
      <div class="main-content">
        <app-additional [currentDay]="currentDay" [currentDate]="currentDate" [currentTime]="weatherData.time" [city]="city"></app-additional>
        <app-currentweather [weatherData]="weatherData"></app-currentweather>
        <app-hourlyforecast [hourlyForecast]="hourlyForecast"></app-hourlyforecast>
        <app-dailyforecast [dayForecast]="dayForecast"></app-dailyforecast>
      </div>
    </div> -->


    <div class="container">

    <app-navigation></app-navigation>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    </div>