body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  *{
    font-family: 'Poppins', sans-serif;
  
  }
  
  
  .container {
    display: grid;
    grid-template-columns: 300px 1fr;  /* Sidebar и Main Content */
    grid-template-rows: 1fr;          /* Одна строка для основного контента */
    height: 98.3vh;                     /* Высота на весь экран */
    width: 100%;                       /* Ширина на весь экран */
    
  }
  

  .main-content {
    margin-top: 130px;
    grid-column: 2; 
    grid-row: 1;    
    background-color: #EAF3FA; 
    color: black;  
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    gap: 0px; 
  }

  
  /* router-outlet {
    flex: 1; 
    }
   */
  