body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  *{
    font-family: 'Poppins', sans-serif;
  
  }
  
  .main-content {
    margin-top: 20px;

    background-color: #EAF3FA; /* Светло-серый фон */
    color: black; /* Черный цвет текста */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Выстраивание элементов по вертикали */
    gap: 25px; /* Промежуток между карточками */
    align-items: center;
    max-height: 78.7vh; /* Ограничьте высоту контейнера */
    min-height: 200px; /* Минимальная высота для предотвращения прокрутки с малым количеством элементов */
    overflow-y:hidden; /* Включите вертикальную прокрутку */
    position: relative;
    outline: none; /* Убирает чёрные полосы при фокусе */

}
  
.scroll-button {
  position: absolute; /* Позиционирует кнопки относительно контейнера */
  right: 20px; /* Расположите кнопки справа от контейнера */
  background-color: #8c96a1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  z-index: 1000; /* Положение кнопок поверх других элементов */
  border-radius: 30px;
  height: 60px;
}



.scroll-button.up {
  top: 50%; /* Разместите кнопку вверх по центру */
  transform: translateY(-70%); /* Выравнивание кнопки по центру */
}

.scroll-button.down {
  top: 50%; /* Разместите кнопку вниз по центру */
  transform: translateY(70%); /* Выравнивание кнопки по центру */
}

.scroll-button:hover {
  background-color: #4b5055; /* Изменение цвета при наведении */
}